img{
  max-width: 100%;
  margin: 3px;
}

p{
  height: 120px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 6;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
